<!DOCTYPE html>
<html>

<head>

<title>
Bank Account
</title>

{% load static %}

<link rel="stylesheet" href="{% static 'css/mobile.css' %}">


<meta name="viewport" content="width=device-width, initial-scale=1">


<style>


body{

background:#f5f7fb;

font-family:Arial;

}


.card{

background:white;

padding:25px;

margin:30px auto;

width:90%;

max-width:450px;

border-radius:20px;

box-shadow:0 5px 15px #ddd;

}



h2{

text-align:center;

color:#00a651;

}



input{

width:100%;

padding:14px;

margin:10px 0;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}



button{

width:100%;

padding:15px;

background:#00a651;

color:white;

border:none;

border-radius:30px;

font-size:18px;

}




</style>


</head>


<body>


<div class="card">


<h2>

🏦 Add Bank Account

</h2>



<form method="POST">


{% csrf_token %}



<input

type="text"

name="account_holder"

placeholder="Account Holder Name"

value="{{account.account_holder}}"

required>



<input

type="text"

name="bank_name"

placeholder="Bank Name"

value="{{account.bank_name}}"

required>



<input

type="text"

name="account_number"

placeholder="Account Number"

value="{{account.account_number}}"

required>



<input

type="text"

name="ifsc"

placeholder="IFSC Code"

value="{{account.ifsc}}"

required>



<button>

SAVE BANK ACCOUNT

</button>



</form>


</div>


</body>

</html>