<!DOCTYPE html>

<html>

<head>

<title>
Transaction Report
</title>

{% load static %}

<link rel="stylesheet" href="{% static 'css/mobile.css' %}">


<style>


body{

font-family:Arial;

background:#f4f6f8;

padding:30px;

}


.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px #ddd;

}



h2{

color:#00a651;

}



table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}



th{

background:#111827;

color:white;

}



td,th{

padding:12px;

text-align:center;

}



.recharge{

color:green;

font-weight:bold;

}


.withdraw{

color:red;

font-weight:bold;

}



</style>


</head>


<body>



<div class="card">


<h2>
💰 Admin Transaction Report
</h2>



<table>


<tr>


<th>
User
</th>


<th>
Type
</th>


<th>
Amount
</th>


<th>
Balance After
</th>


<th>
Date
</th>


</tr>



{% for t in transactions %}


<tr>


<td>

{{t.user.username}}

</td>



<td>


{% if t.transaction_type == "RECHARGE" %}

<span class="recharge">
{{t.transaction_type}}
</span>


{% else %}

<span class="withdraw">
{{t.transaction_type}}
</span>


{% endif %}


</td>




<td>

₹{{t.amount}}

</td>



<td>

₹{{t.balance_after}}

</td>



<td>

{{t.created_at}}

</td>



</tr>


{% empty %}


<tr>

<td colspan="5">

No Transaction Found

</td>

</tr>


{% endfor %}



</table>


</div>


</body>


</html>