<!DOCTYPE html>

<html>

<head>

<title>
Winning Report
</title>

{% load static %}

<link rel="stylesheet" href="{% static 'css/mobile.css' %}">


<style>

body{

font-family:Arial;

background:#f4f6f8;

padding:30px;

}


.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px #ddd;

}


h2{

color:#00a651;

}


table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}


th{

background:#111827;

color:white;

}


td,th{

padding:12px;

text-align:center;

}


</style>


</head>


<body>


<div class="card">


<h2>
🏆 Admin Winning Report
</h2>



<table>


<tr>

<th>
User
</th>


<th>
Type
</th>


<th>
Winning Amount
</th>


<th>
Balance After
</th>


<th>
Date
</th>


</tr>



{% for w in winnings %}



<tr>


<td>

{{w.user.username}}

</td>



<td>

{{w.transaction_type}}

</td>



<td>

₹{{w.amount}}

</td>



<td>

₹{{w.balance_after}}

</td>



<td>

{{w.created_at}}

</td>



</tr>



{% empty %}



<tr>

<td colspan="5">

No Winning Found

</td>

</tr>


{% endfor %}



</table>


</div>


</body>

</html>